<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
     <link rel="stylesheet" href="/css/app.css">
    <title>{{namePage}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">talentDevs</a>
        </h1>
        {{#if bar}}
            <div class="buscador">
                <form action="">
                    <input type="text" class="buscar">
                    <input type="submit" value="Search">
                </form>
            </div>
        {{/if}}
    </div>

    <header class="site-header contenedor separador">
        <h2>{{namePage}}</h2>

        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

         {{#if button}}
            <a href="/vacancies/new" class="btn btn-azul">Publish New Vacancies</a>
        {{/if}}
    </header>
    
    <div class="contenido-principal contenedor">
        {{{body}}}
    </div>
</body>
</html>