<main class="lista-vacantes">
    <h2>List Vancancies</h2>

    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">React Developer</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ubication</p>
            <p class="nombre">Remote</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Contract</p>
            <p class="nombre">Time complete</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">More info</a>
        </div>
    </div>
</main>